* {
  user-select: none;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  position: relative;
  width: 100px;
  height: 100px;
  perspective: 10rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

p {
  transform: translateZ(20px);
  font-size: 30px;
}

.front-view {
  transform-style: preserve-3d;
  background-color: rgb(219, 86, 86);
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  transform: rotateY(0deg);
  position: absolute;
  border-radius: 10px;
}

.card-side {
  backface-visibility: hidden;
  transition: 0.8s linear transform, background-color 0s linear 0.8s;
}

.back-view {
  position: absolute;
  border-radius: 10px;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  font-size: 50px;
  background-color: black;
  transform: rotateY(180deg);
}

.active .back-view {
  transform: rotateY(0deg);
}

.active .front-view {
  transform: rotateY(-180deg);
}
.found {
   background-color: green;
}